// colors
$gin:#EDF5EE;
$white:#FFFFFF;
$goblin:#00803C;
$cinnabar:#DC0700;
$gull-grey:#9AA5B3;
$fire-bush:#DD933C;
$snow-drift:#F6FAF6;
$casablanca:#F7B643;
$athens-grey:#E7E9EB;
$black-pearl: #001927;
$subtle-grey: #334753;
$desert-storm:#F8F8F9;
$radiant-blue:#2F80ED;
$chateau-green:#00A34D;

$colors: () !default;

$colors: map-merge(("black-pearl": $black-pearl,
    "gin": $gin,
    "white": $white,
    "goblin": $goblin,
    "cinnabar": $cinnabar,
    "gull-grey": $gull-grey,
    "fire-bush": $fire-bush,
    "snow-drift": $snow-drift,
    "casablanca": $casablanca,
    "subtle-grey": $subtle-grey,
    "athens-grey": $athens-grey,
    "desert-storm": $desert-storm,
    "radiant-blue": $radiant-blue,
    "chateau-green": $chateau-green,
  ),
  $colors);

// grids
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px) !default;

// font weights
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;

// from bootstrap
$enable-shadows: false !default;
$enable-rounded: true !default;
$line-height-base: 1.5 !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$transition-base: all .2s ease-in-out !default;
$enable-prefers-reduced-motion-media-query: true !default;

$displays: none,
inline,
inline-block,
block,
table,
table-row,
table-cell,
flex,
grid,
inline-flex !default;
$overflows: auto,
hidden !default;
$positions: static,
relative,
absolute,
fixed,
sticky !default;

$zindex-fixed: 1030 !default;
$zindex-sticky: 1020 !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto),
  $sizes);

// spaces
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: ($spacer * 1),
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 1.75),
    8: ($spacer * 2),
    9: ($spacer * 2.25),
    10: ($spacer * 2.5),
    11: ($spacer * 2.75),
    12: ($spacer * 3),
  ),
  $spacers);

// fonts
$font-family-default: 'IBM Plex Sans',
sans-serif;
$font-family-monospace: 'IBM Plex Sans',
sans-serif;

$escaped-characters: (("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;

:root {
  --gin: #{$gin};
  --white: #{$white};
  --goblin: #{$goblin};
  --cinnabar: #{$cinnabar};
  --fire-bush: #{$fire-bush};
  --gull-grey: #{$gull-grey};
  --snow-drift: #{$snow-drift};
  --casablanca: #{$casablanca};
  --athens-grey: #{$athens-grey};
  --subtle-grey: #{$subtle-grey};
  --black-pearl: #{$black-pearl};
  --desert-storm: #{$desert-storm};
  --radiant-blue: #{$radiant-blue};
  --chateau-green: #{$chateau-green};
}
